{% load static %}
<!doctype html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link rel="stylesheet" 
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
    crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" 
    href="{% static 'quiz/css/style.css' %}" />
</head>
<body class="container">
    <h1 class="display-4 text-primary text-center mt-4 mb-4">{{title}}</h1>
    <h3 class="text-center text-success mt-4 mb-4">{{level}}</h3>
    <h5 class="text-center mt-4 mb-4">以下のクロスワードを埋めて、数字の振ってあるマスの文字を順番に入力して回答せよ</h5>

    <div class="center">
        <img src={{ quiz_img_src}} width="300" height="300" class="mt-4 mb-4 text-center">
    </div>
    

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <table class="table"　border="1" style="border-collapse: collapse">
                    <tr>
                        <th>縦のキーワード</th>
                    </tr>
                    {% for item in vertical %}
                    <tr>
                        <td>{{item.keyword}}</td>          
                    <tr>
                {% endfor %}
                </table>
            </div>
            <div class="col-lg-6">
                <table class="table">
                    <tr>
                        <th>横のキーワード</th>
                    </tr>
                    {% for item in horizontal %}
                    <tr>
                        <td>{{item.keyword}}</td>
                    <tr>
                {% endfor %}
                </table>
        </div>
    </div>
    <form action="{% url 'index' %}" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" class="btn btn-primary my-2" 
            value="click" onclick="show()">
    </form>
    <div class="center">
        <h1>{{ judge }}</h1>
        <h3>回答：{{ reply }}</h3> 
        <h3>正解：{{ answer }}</h3>
        <!-- <img src="{% static 'quiz/img/sample_quiz_ans1.jpg'%}" width="300" height="300" class="mt-4 mb-4"> -->
        <div class="center">
            <img src={{ answer_img_src}} width="300" height="300" class="mt-4 mb-4">
        </div>
        
    </div>
    
    <hr>
    <!-- <script type="text/javascript" src="{% static 'quiz/js/app.js' %}"></script> -->
</body>
</html>