#show{
    display: none;
  }

  .center{
    text-align: center;
  }

  table {
    margin: 10px;
      font-size: 14pt;
  }
  
  table tr th {
      background-color: #eee;
      color: #000;
      padding: 2px 10px;
      border-width: 2px;
      border:1.5px #000 solid;
  }
  
  table tr td {
      background-color: #FFF;
      color: #000;
      padding: 2px 10px;
      border-width: 2px;
      border:1.5px #000 solid;
  }